body{
	background-image:url(images/bg.png);
	background-repeat:no-repeat;
	background-size: cover;	
	overflow-x: hidden;
	height:100%;
}

html{
	
}


.main{
	width:1366px;
	height:766px;
	margin:0 auto;
	font-size:16px;
	font-family:Verdana, Helvetica, sans-serif;
}
header{
	width:1065px;
	margin:0 auto;
	position:relative;
	top:50px;
	height:50px;	
}

a{
	text-decoration:none;
}

.logo-text-link-1{
	color:  #ffffff;
	font-size: 1.813em;
	font-weight: 700;
	position:relative;
	left:8px;
	
}
.logo-text-link-2{
	color:  #ffffff;
	font-size: 1.125em;
	font-weight: 700;
	position:relative;
    top: -2px;
    right: -8px;
	
}


.info-1{
	color:  #ffffff;
	font-size: 1.125em;
    position: relative;
	bottom: 56px;
    left: 823px;
}
.info-2{
	color:  #ffffff;
	font-size: 1.125em;
    position: relative;
    bottom: 41px;
    left: 895px;
}
.logo-picture-link-active{
	position:relative;
    top:6px;
    width:50px;
    opacity:0;
	z-index:1;
}


.logo-picture-link{
	position:relative;
	bottom:41px;
	width:50px;
	opacity:1;
}

.logo-text-active{
	position:relative;
    bottom: 95px;
    left: 50px;
	width:50px;
}

.full-logo{
	width:100px;
	height:50px;
}

.full-logo:hover  a {
	color:#f26522;
}
.full-logo:hover  .logo-picture-link-active{
	opacity:1;
}



.content{
	margin-top:25px;
}

.card{
	display:inline-block;
	width:305px;
	height:200px;
	margin-left:70px;
}

.image{
	border:2px inset #e8e8e8;
	box-sizing: border-box;
	background-color:  #ffffff;
	box-shadow: 0px 17px 24px 0px #000000;	
	border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;

}

.names{
	color:  #ffffff;
	font-size: 1.125em;
	text-align: center;
}


.row-1{
	width:1210px;
	height:200px;
	margin:0 auto;
	margin-bottom:100px;
}

.row-2{
	width:1210px;
	height:200px;
	margin:0 auto;
}

footer{
	color:  #ffffff;
	font-size: 0.75em;
	text-align:center;
	margin-top:11%;
}

.selected{
	position:relative;
	width:312px;
	height:60px;
	top:205px;
	overflow:hidden;
}
.card:hover .selected{
	background-color:#f26522;
	transition:1s;
}

.from{
	opacity:0;
	font-size:0.625em;
	color:#ffffff;
	position:relative;
	top:14px;
	left:20px;
}

.euro{
	opacity:0;
	color:#ffffff;
	font-size:1.25em;
	position:relative;
    left: 12px;
    bottom: 7px;
}

.vd{
	opacity:0;
	color:#ffffff;
	font-size:0.875em;
	position:relative;
    left: 165px;
    bottom: 45px;	
}

.symbol{
	opacity:0;
	color:#ffffff;
	font-size:0.575em;
	position:relative;
    left: 278px;
    bottom: 72px;
	font-weight:600;
}


.card:hover p{
	opacity:1;
	transition:1s;
}

.card:hover  .names{
	color:#f26522;
}

